:root{
  /* Couleur */
  --bg-nav: #1B0C20;
  --bg-body: #1B0E20;
  --body-second-bg: #6a6363bf;
  --bouton-hover : #C4BCBC;
  --active: #6A2C82;
  --text-color: #e0e0e0ce;
  --menu-color: #14041ae6;

  /* transition */
  --trans-02: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-05: all 0.5s ease;
}

/* Set a style for all buttons */
.clearfix button {
  color: white;
  padding: 10px 14px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
}

.clearfix button:hover {
  opacity:0.5;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  width: 30%;
  border-radius: 10px;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
  padding-left: 10px;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--bg-body);
  padding: 10%;
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--bg-body);
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: none;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 30px;
  font-weight: 500;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 700px) {
  .cancelbtn, .deletebtn {
     width: 100% !important;
  }
}