:root{
    /* Couleur */
    --bg-nav: #1B0C20;
    --bg-body: #1B0E20;
    --body-second-bg: #6a6363bf;
    --bouton-hover : #C4BCBC;
    --active: #6A2C82;
    --text-color: #e0e0e0ce;
    --menu-color: #14041ae6;

    /* transition */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}



input, select, textarea{
    background-color: transparent !important;
}

.bouton_confirmer{
    padding: 12px;
    width: 50%;
    margin: auto;
    font-size: 14px;
    display: flex;
    justify-content: center;
    background-color: var(--body-second-bg);
    border: none;
    border-radius: 10px;
}
.bouton_confirmer:hover{
    background-color: var(--active);
}